<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1012192354649-oufrbbbio7ooovjd9bfsv5abm9cco57i</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>AlbertSans-Bold.ttf</string>
		<string>AlbertSans-Light.ttf</string>
		<string>AlbertSans-Medium.ttf</string>
		<string>AlbertSans-Regular.ttf</string>
		<string>AlbertSans-SemiBold.ttf</string>
		<string>AlbertSans-Thin.ttf</string>
	</array>
</dict>
</plist>
